@font-face {
    font-family: 'Special Elite';
    src:  url('../fonts/SpecialElite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*  {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}
html {
  font-size: 62.5%;
}
body {
	background-color:#000000;
	color:#d3d3d3;	
}
.container-fluid {   
    font-family: 'Special Elite', cursive;
}
header {
    font-size:3.0rem;
    text-align: center;
}
.param {
    list-style-type: none;
}
    .param li {
        text-align: center;
        padding: 0;
    }
#word {
    padding: 5px 0 5px 0;
    margin:0;
    font-size:2.0rem;
    text-align: center;
}
.game-content{
        padding:0;
    }
#gallows {
    display: block;
    min-height: 215px;
    padding: 0;
    margin: 0 auto 0 auto;
}
#gallows img {
    width: 99%;
}
#alphabet-container {
    text-align: center;
    padding: 0;
    margin:0;
    min-height: 240px;
}

.alphabet-row {
    padding: 0;
    margin:0 auto 0 1%;    
}
.btn-letter{
    background-color: #000000;
    font-size:2.0rem;
    text-align: center;
    margin: 0.5%;
    width: 13%;
    padding: 2% 0 2% 0;
    border: 2px solid #808080;
    float: left;
    cursor:pointer;
    border-radius: 15px;
}

    .btn-letter:hover {
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
    }
.reset {
	color:#008000;
	cursor: pointer;
	font-size: 48px;
    
}
.reset:hover {
	color:#FFFFFF;
}
.true {
    background-color: #003300;
    color: #00C000;
    border: 2px solid #00C000;
    cursor: default;
}
.false {
    background-color: #330000;
    color:#C00000;
    border: 2px solid #C00000;
    cursor: default;
}
.footer {
    position: static;
    bottom: 0;
   width:100%;
   padding: 10px;
   margin-top:30px;
   background:#2F2F2F;
   margin-bottom:0 ;
   text-align: center;
   font-size: 10px;
   height: 5rem;
}
    .footer p {
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
    }
.modal-content {
    font-family: 'Special Elite', cursive;
    border: 3px solid #FFFFFF;
    background-color:#000;
}
.close div{
    color: #FFFFFF;
}
.modal-footer{
    text-align: center;
}
@media (min-width:992px){
    html {
        font-size: 100%;
    }
    .param p {
        margin-top: 30px;
        font-size: 1.5rem;
    }
    #word{
        margin-bottom: 100px;
        font-size:2.5rem;
        padding: 30px;
    }
}